-server
-Xmx8G
-XX:+UseG1GC
-XX:+ExitOnOutOfMemoryError
-Dcom.sun.management.jmxremote=true
-Dcom.sun.management.jmxremote.port=9016
-Dcom.sun.management.jmxremote.local.only=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-javaagent:/opt/jmx_prometheus_javaagent-0.16.1.jar=9092:/opt/presto-jmx-config.yaml
